<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>お客様管理サービス</title>
    <link type="image/jpeg" rel="icon" href="/contents/image/icon/wataju.jpg">
    <link type="text/css" rel="stylesheet" href="/contents/css/common.css">
    <!-- <link type="text/css" rel="stylesheet" href="/contents/css/modal.css"> -->
</head>

<body>

    <div class="wrapper">

        <header>
            <h1><a class="logo" href="/home">お客様管理サービス</a></h1>
            <div class="nav-wrapper" id="nav-wrapper">
                <div class="hamburger" id="js-hamburger">
                    <span class="hamburger__line hamburger__line--1"></span>
                    <span class="hamburger__line hamburger__line--2"></span>
                    <span class="hamburger__line hamburger__line--3"></span>
                </div>
                <nav class="sp-nav">
                    <h2><b>{{username}}</b>さん</h2>
                    <br>
                    <ul class="nav-list">
                        <li><a href="/home">ホーム</a></li>
                        <hr>
                        <li><a href="/customer/list/1?max=50">お客様情報</a></li>
                        <li><a href="/product/list/1?max=50">商品情報</a></li>
                        <li><a href="/order/list/1?max=50">注文情報</a></li>
                        <li><a href="/receipt/yearly">年間売り上げ照会</a></li>
                        <li><a href="/receipt/monthly">月間売り上げ照会</a></li>
                        <hr>
                        <li><a href="/setting/mypage">マイページ</a></li>
                        {{#admin}}
                            <li><a href="/setting/account/list/1?max=50">アカウント一覧</a></li>
                        {{/admin}}{{^admin}}{{/admin}}
                        <hr>
                        <li><a href="/signout">サインアウト</a></li>
                    </ul>
                </nav>
                <div class="black-bg" id="js-black-back"></div>
            </div>
        </header>

        <div class="content">

            <div class="title">
                <h2>ユーザ一覧</h2>
                <a href="/setting/account/register">新規作成</a>
                <form method="post" action="/setting/account/list" id="max">
                    <label for="user-size">表示数:{{max}}</label>
                    <select class="selector" name="user-size" id="user-size" onchange="this.form.submit();">
                        <option selected>---</option>
                        <option value="5">5</option>
                        <option value="10">10</option>
                        <option value="30">30</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>
                </form>
            </div>

            <div class="list-table">
                <table class="list">
                    <thead class="list-head">
                        <tr class="list-head-row">
                            <th class="list-column">権限</th>
                            <th class="list-column">アカウント名</th>
                            <th class="list-column">ユーザ名</th>
                            <th class="list-column">ユーザ名（カナ）</th>
                            <th class="list-column">電話番号</th>
                            <th class="list-column">メールアドレス</th>
                            <th class="list-column">詳細</th>
                        </tr>
                    </thead>
                    <tbody class="list-body">
                        {{#users}}
                            <tr class="list-body-row">
                                <td class="list-recode">{{authority}}</td>
                                <td class="list-recode">{{identifier}}</td>
                                <td class="list-recode">{{usersName}}</td>
                                <td class="list-recode">{{usersNameKana}}</td>
                                <td class="list-recode">{{usersPhoneNumber}}</td>
                                <td class="list-recode">{{usersEmailAddress}}</td>
                                <td class="list-recode">
                                    <a class="link-edit" href="/setting/account/details/{{id}}">
                                        <img class="img-edit" src="/contents/image/content/details.png" alt="editable">
                                    </a>
                                </td>
                            </tr>
                        {{/users}}
                    </tbody>
                </table>
            </div>

            <div class="pagination-wrapper">
                {{#paging}}
                    <div class="pagination previous"><a href="/setting/account/list/{{previous}}{{queryMax}}">＜＜</a></div>
                    <div class="pagination current"><p>{{numerator}}/{{denominator}} ページ</p></div>
                    <div class="pagination next"><a href="/setting/account/list/{{next}}{{queryMax}}">＞＞</a></div>
                {{/paging}}
            </div>

        </div>

    </div>


    <script type="text/javascript" src="/contents/js/nav-menu.js"></script>
    <script type="text/javascript">
        $(function () {
            $('#user-size').change(function () {
                $('#max').submit();
            });
        });
    </script>
</body>

</html>
