<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>お客様管理サービス</title>
    <link type="image/jpeg" rel="icon" href="/contents/image/icon/wataju.jpg">
    <link type="text/css" rel="stylesheet" href="/contents/css/common.css">
    <link type="text/css" rel="stylesheet" href="/contents/css/list.css">
    <link type="text/css" rel="stylesheet" href="/contents/css/modal.css">
</head>

<body>

<div class="wrapper">

    <header>
        <h1><a class="logo" href="/home">お客様管理サービス</a></h1>
        <div class="nav-wrapper" id="nav-wrapper">
            <div class="hamburger" id="js-hamburger">
                <span class="hamburger__line hamburger__line--1"></span>
                <span class="hamburger__line hamburger__line--2"></span>
                <span class="hamburger__line hamburger__line--3"></span>
            </div>
            <nav class="sp-nav">
                <h2><b>{{username}}</b>さん</h2>
                <br>
                <ul class="nav-list">
                    <li><a href="/home">ホーム</a></li>
                    <hr>
                    <li><a href="/customer/list/1?max=50">お客様情報</a></li>
                    <li><a href="/product/list/1?max=50">商品情報</a></li>
                    <li><a href="/order/list/1?max=50">注文情報</a></li>
                    <li><a href="/receipt/yearly">年間売り上げ照会</a></li>
                    <li><a href="/receipt/monthly">月間売り上げ照会</a></li>
                    <hr>
                    <li><a href="/setting/mypage">マイページ</a></li>
                    {{#admin}}
                        <li><a href="/setting/account/list/1?max=50">アカウント一覧</a></li>
                    {{/admin}}{{^admin}}{{/admin}}
                    <hr>
                    <li><a href="/signout">サインアウト</a></li>
                </ul>
            </nav>
            <div class="black-bg" id="js-black-back"></div>
        </div>
    </header>

    <div class="content">

        <div class="title">
            <h2>お客様一覧</h2>
            <a href="/customer/register">新規登録</a>
            <form method="post" action="/customer/list" id="max">
                <label for="customer-size">表示数:{{max}}</label>
                <select class="selector" name="customer-size" id="customer-size" onchange="this.form.submit();">
                    <option selected>---</option>
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="30">30</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                    <option value="200">200</option>
                    <option value="500">500</option>
                </select>
            </form>
        </div>

        {{#is_record}}
            <div class="condition">
                <h1 class="condition_title">検索条件</h1>
                <div class="condition_area">
                    <!--
                    <form method="post" id="name_search" action="/customer/search/name">
                       <div>
                           <label>
                               名前（曖昧検索）
                               <input type="text">
                           </label>
                       </div>
                       <div>
                           <input type="button" class="button" id="name_search" title="search" value="検索">
                       </div>
                    </form>
                    <form method="post" id="prefecture_search" action="/customer/search/prefecture">
                        <label>
                            <select name="prefecture" onchange="submit(this.form);">
                                <option value="" selected>都道府県</option>
                                <option value="北海道">北海道</option>
                                <option value="青森県">青森県</option>
                                <option value="岩手県">岩手県</option>
                                <option value="宮城県">宮城県</option>
                                <option value="秋田県">秋田県</option>
                                <option value="山形県">山形県</option>
                                <option value="福島県">福島県</option>
                                <option value="茨城県">茨城県</option>
                                <option value="栃木県">栃木県</option>
                                <option value="群馬県">群馬県</option>
                                <option value="埼玉県">埼玉県</option>
                                <option value="千葉県">千葉県</option>
                                <option value="東京都">東京都</option>
                                <option value="神奈川県">神奈川県</option>
                                <option value="新潟県">新潟県</option>
                                <option value="富山県">富山県</option>
                                <option value="石川県">石川県</option>
                                <option value="福井県">福井県</option>
                                <option value="山梨県">山梨県</option>
                                <option value="長野県">長野県</option>
                                <option value="岐阜県">岐阜県</option>
                                <option value="静岡県">静岡県</option>
                                <option value="愛知県">愛知県</option>
                                <option value="三重県">三重県</option>
                                <option value="滋賀県">滋賀県</option>
                                <option value="京都府">京都府</option>
                                <option value="大阪府">大阪府</option>
                                <option value="兵庫県">兵庫県</option>
                                <option value="奈良県">奈良県</option>
                                <option value="和歌山県">和歌山県</option>
                                <option value="鳥取県">鳥取県</option>
                                <option value="島根県">島根県</option>
                                <option value="岡山県">岡山県</option>
                                <option value="広島県">広島県</option>
                                <option value="山口県">山口県</option>
                                <option value="徳島県">徳島県</option>
                                <option value="香川県">香川県</option>
                                <option value="愛媛県">愛媛県</option>
                                <option value="高知県">高知県</option>
                                <option value="福岡県">福岡県</option>
                                <option value="佐賀県">佐賀県</option>
                                <option value="長崎県">長崎県</option>
                                <option value="熊本県">熊本県</option>
                                <option value="大分県">大分県</option>
                                <option value="宮崎県">宮崎県</option>
                                <option value="鹿児島県">鹿児島県</option>
                                <option value="沖縄県">沖縄県</option>
                            </select>
                        </label>
                    </form>
                    -->
                </div>
            </div>
            <div class="list-table">
                <table class="list">
                    <thead class="list-head">
                    <tr class="list-body-row">
                        <th class="list-column">名前</th>
                        <th class="list-column">名前（カナ）</th>
                        <th class="list-column">郵便番号</th>
                        <th class="list-column">都道府県</th>
                        <th class="list-column">住所１</th>
                        <th class="list-column">住所２</th>
                        <th class="list-column">住所３</th>
                        <th class="list-column">電話番号</th>
                        <th class="list-column">メールアドレス</th>
                        <th class="list-column">編集</th>
                        <th class="list-column">注文</th>
                    </tr>
                    </thead>
                    <tbody class="list-body">
                    {{#customers}}
                        <tr class="list-body-row">
                            <td class="list-recode">{{name}}</td>
                            <td class="list-recode">{{nameKana}}</td>
                            <td class="list-recode">{{zipcode}}</td>
                            <td class="list-recode">{{prefecture}}</td>
                            <td class="list-recode">{{address1}}</td>
                            <td class="list-recode">{{address2}}</td>
                            <td class="list-recode">{{address3}}</td>
                            <td class="list-recode">{{phoneNumber}}</td>
                            <td class="list-recode">
                                <a href="mailto:{{emailAddress}}">{{emailAddress}}</a>
                            </td>
                            <td class="list-recode">
                                <a class="link-edit" href="/customer/edit/{{id}}">
                                    <img class="img-edit" src="/contents/image/content/edit.png" alt="editable">
                                </a>
                                <a class="link-edit" href="/order/register/{{id}}">
                                    <img class="img-edit" src="/contents/image/content/order.png">
                                </a>
                            </td>
                            <td class="list-recode">
                                <a class="link-edit" href="/order/list/1?max=50&customer_id={{id}}">
                                    <img class="img-edit" src="/contents/image/content/list.png">
                                </a>
                            </td>
                        </tr>
                    {{/customers}}
                    </tbody>
                </table>
            </div>

            <div class="pagination-wrapper">
                {{#paging}}
                    <div class="pagination previous"><a href="/customer/list/{{previous}}{{queryMax}}">＜＜</a></div>
                    <div class="pagination current"><p>{{numerator}}/{{denominator}} ページ</p></div>
                    <div class="pagination next"><a href="/customer/list/{{next}}{{queryMax}}">＞＞</a></div>
                {{/paging}}
            </div>
        {{/is_record}}
        {{^is_record}}
            <div class="condition">
                <h1 class="is-not-record">お客様情報が見つかりません</h1>
            </div>
        {{/is_record}}

    </div>

</div>



<script type="text/javascript" src="/contents/js/nav-menu.js"></script>
<script type="text/javascript">
    $(function () {
        $('#customer-size').change(function () {
            $('#max').submit();
        });
    });
</script>

</body>

</html>
